.grid-2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;

  //media queries
  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6rem;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}

.grid-4-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  //media queries
  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6rem;
    justify-items: center;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}

.grid-col-gap {
  column-gap: $grid-column-gap;
}

.grid-col-gap2 {
  column-gap: $grid-column-gap2;
}
