.navigation {
  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__bar {
    opacity: 1;
    visibility: visible;
    width: 100%;
  }

  &__button {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    background-color: $color-white;
    cursor: pointer;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.15);

    //media queries
    @include respond(phone) {
      top: 4rem;
      right: 4rem;
    }
  }

  &__icon {
    display: inline-block;
    width: 3rem;
    height: 1.7px;
    background-color: $color-black;
    position: absolute;
    @include absolute-center;

    &::after,
    &::before {
      content: "";
      width: 3rem;
      height: 1.7px;
      background-color: $color-black;
      transform: translateX(-50%);
      transition: all 0.3s;
    }

    &::after {
      position: absolute;
      top: 8px;
      left: 50%;
    }

    &::before {
      position: absolute;
      top: -8px;
      left: 50%;
    }
  }

  &__button:hover &__icon::after {
    height: 2.5px;
    top: 10px;
  }

  &__button:hover &__icon::before {
    height: 2.5px;
    top: -10px;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
    left: 0;
    height: 2.5px;
  }

  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
    left: 0;
    height: 2.5px;
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.85, 0, 0.15, 1);

    //media queries
    @include respond(phone) {
      top: 4.5rem;
      right: 4.5rem;
    }
  }

  &__bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    z-index: 1500;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    list-style: none;
    position: absolute;
    @include absolute-center;

    //media queries
    @include respond(phone) {
      width: 85%;
      text-align: center;
    }
  }

  &__item {
    margin: 1rem;

    span {
      margin-right: 1.5rem;

      //media queries
      @include respond(phone) {
        margin-right: 1rem;
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      color: $color-white;
      font-weight: 300;
      font-size: 3rem;
      padding: 1rem 2rem;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%;
      transition: all 0.4s;

      //media queries
      @include respond(phone) {
        font-size: 2.6rem;
        padding: 1rem;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }
}
